
@{
    ViewData["Title"] = "Index";
}

<h1>
    @if (ViewBag.Temperature != null)
    {
        @ViewBag.Temperature
    }
    else
    {
        @ViewBag.Message
    }
    
</h1>

<form class="d-flex" method="post">    
    <button asp-controller="Doctor" asp-action="Index" class="btn btn-outline-success" type="submit">CheckTemp</button>      
    <input class="form2a" name="Temp" type="number" placeholder="Insert temperature..." aria-label="temperature" asp-controller="Doctor" asp-action="Index">   
</form>
