
@{
    ViewData["Title"] = "Index";
}

<h1>
    @if (ViewBag.Temperature != null)
    {
        @ViewBag.Temperature
    }
    else
    {
        @ViewBag.Message
    }
    
</h1>


<form method="post">
    <div class="input-group mb-3 w-25">
        <div class="col-sm-4">
            <input type="number" name="Temp" class="form-control" min="1" max="100" placeholder="Insert..." aria-label="temperature" aria-describedby="basic-addon1" asp-controller="Doctor" asp-action="Index">
        </div>
        <button asp-controller="Doctor" asp-action="Index" class="btn btn-success" type="submit">Submit</button>
    </div>
</form>
