@model IEnumerable<Country>

@{
	ViewData["Title"] = "Index";
}

<h1>Countries</h1>


<!-- List Countries -->
<table class=" table table-striped">

	<th>Id</th>
	<th>Country</th>

	@foreach (var country in Model)
	{
		<tr>
			<td>@country.CountryId</td>
			<td>@country.CountryName</td>
		</tr>
	}
</table>
