@model PeopleViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>People</h1>

<form asp-controller="People" asp-action="Search">
    <div class="input-group mb-3 w-50">
        <div class="col-sm-4">
            <input type="text" name="searchString" class="form-control" placeholder="Search..." aria-label="search" aria-describedby="basic-addon1">
        </div>
        <button asp-controller="People" asp-action="Search" class="btn btn-success" type="submit">Filter</button>
    </div>
</form>

<!-- Partial View _AddPerson -->
<partial name="_AddPerson" model="Model" />


<table class=" table table-striped">

    <th>Name</th>
    <th>City</th>
    <th>Phone Number</th>
    <th>Delete</th>

@foreach (var person in Model.People)
{
    <!-- Partial View _Person -->
    <partial name="_Person" model="person" />
}
</table>
<div>
    <span>@ViewBag.Message</span>
</div>
