
@{
    ViewData["Title"] = "Index";
}

@{
    string welcomeMessage = "Welcome to my website";
    var weekDay = DateTime.Now.DayOfWeek;
    var fullName = ViewData["fullname"];
}
<h1>@welcomeMessage</h1>
<h2>Today is @weekDay</h2>


@if(!User.Identity.IsAuthenticated)
{
    <p>Please login!</p>
}

@if(User.Identity.IsAuthenticated)
{
    
    <h3>Hi @fullName</h3>
    if(User.IsInRole("User") && User.IsInRole("Admin"))
    {
        <p>You have User and Admin roles!</p>
    }
    else if(User.IsInRole("Admin"))
    {
        <p>You have Admin roles!</p>
    }
    else if(User.IsInRole("User"))
    {
        <p>You are just a user my dear padawan!</p>
    }
    else
    {
        <p>Hi there! You are now logged in!</p>
    }
}