
@{
    ViewData["Title"] = "Index";
}

@{
    string welcomeMessage = "Welcome to my website";
    var weekDay = DateTime.Now.DayOfWeek;
}
<h1>@welcomeMessage</h1>
<h2>Today is @weekDay</h2>


@if(!User.Identity.IsAuthenticated)
{
    <p>Welcome! Please login!</p>
}

@if(User.Identity.IsAuthenticated)
{
    if(User.IsInRole("User") && User.IsInRole("Admin"))
    {
        <p></p>
        <p>Hello! You have User and Admin roles!</p>
    }
    else if(User.IsInRole("Admin"))
    {
        <p>Hello, you have Admin roles!</p>
    }
    else if(User.IsInRole("User"))
    {
        <p>Hi there, you are just a user my dear padawan!</p>
    }
    else
    {
        <p>Hi there! You are now logged in!</p>
    }
}