
@{
    ViewData["Title"] = "Projects";
}

<h1>My projects</h1>

<div class="projects-link">
<ul class="navbar-nav me-auto mb-2 mb-md-0">
    <li class="nav-item">
    <a class="nav-link" href="https://github.com/keewee75/Lexicon_MVC">- ASP.NET MVC project !</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="https://github.com/keewee75/sokoban_game_js">- Sokoban game created in JavaScript</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="https://github.com/keewee75/Frontend_Assignment_1_2">- Frontend assignments HTML and CSS</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="https://github.com/keewee75/Lexicon">- Different C# Assignments</a>
</ul>
</div>