@model Person
@{
	ViewData["Title"] = "EditLanguage";
}


<form asp-action="Delete" method="post">
	<div class="form-group col-sm-3">
		<h2>Delete language for: @Model.Name </h2>
		<select name="languageId" class="form-control">
			<option value="" selected disabled>Select Language</option>
			@foreach (var lang in Model.Languages)
			{
				<option value="@lang.LanguageId">@lang.LanguageName</option>
			}
		</select>
		<input type="hidden" name="id" value="@Model.PersonId" />
	</div>
	<p></p>
	<input type="submit" value="Delete" class="btn btn-secondary btn-sm" />
</form>

