@model IEnumerable<Person>

@{
	ViewData["Title"] = "Index";
	string languages = "";
}

<h1>Persons Language</h1>

<div class="form-group row">
	<p>
		<a asp-action="AddLanguage" class="btn btn-secondary btn-sm" role="button">Add language</a>
		<a asp-action="EditLanguage" class="btn btn-secondary btn-sm" role="button">Edit person languages</a>
	</p>
</div>



<!-- List Persons and Languages -->
<table class=" table table-striped">

	<th>Name</th>
	<th>Language(s)</th>
	<th>Delete</th>

	@foreach (var person in Model)
	{
		<tr>
			<td>@person.Name</td>

			@foreach (var language in person.Languages)
			{
				languages = languages + language.LanguageName + " ";

			}
			<td>@languages</td>
			<td><a class="btn btn-secondary btn-sm" asp-action="Delete" asp-route-personid="@person.PersonId">Edit</a></td>
		</tr>

		languages = "";
	}
</table>

<div>
	<span>@ViewBag.Exists</span>
</div>


