
@{
    ViewData["Title"] = "ShowPersonAndLanguage";
}

<h1>ShowPersonAndLanguage</h1>

<form asp-action="ShowPersonAndLanguage" method="post">
	<div class="form-group">
		<label>Person: </label>
		<select name="personId" class="form-control" asp-items="ViewBag.People"></select>
	</div>
	<div class="form-group">
		<lable>Language: </lable>
		<select name="languageId" class="form-control" asp-items="ViewBag.Languages"></select>
	</div>
	<input type="submit" value="Show Person language" class="btn btn-primary" />
</form>