@model IEnumerable<City>

@{
	ViewData["Title"] = "Index";
}

<h1>Cities</h1>

@*<p>
	<a asp-action="Create">Add new City</a>
</p>*@

<!-- List Cities -->
<table class=" table table-striped">

	<th>Id</th>
	<th>City</th>
	


	@foreach (var city in Model)
	{
		<tr>
			<td>@city.CityId</td>
			<td>@city.CityName</td>

			@*<td>
				<a asp-action="Edit" asp-route-cityid="@city.CityId">Edit</a>
				<a asp-action="Delete" asp-route-cityid="@city.CityId">Delete</a>
			</td>*@

		</tr>
	}

</table>
