@model IEnumerable<City>

@{
	ViewData["Title"] = "Index";
}

<h1>Cities</h1>

<p>
	<a class="btn btn-secondary btn-sm" asp-action="Create">Add new City</a>
</p>

<!-- List Cities -->
<table class=" table table-striped">

	<th>Id</th>
	<th>City</th>
	<th>Edit / Delete</th>
	


	@foreach (var city in Model)
	{
		<tr>
			<td>@city.CityId</td>
			<td>@city.CityName</td>

			<td>
				<a class="btn btn-secondary btn-sm" asp-action="Edit" asp-route-cityid="@city.CityId">Edit</a>
				<a class="btn btn-secondary btn-sm" asp-action="Delete" asp-route-cityid="@city.CityId">Delete</a>
			</td>

		</tr>
	}

</table>
