
@{
    ViewData["Title"] = "Index";
}

<h1>Ajax and jQuery</h1>


<button type="button" id="button1" class="btn btn-primary">People</button>

<p></p>

<form asp-controller="Ajax" asp-action="PersonId" method="post">
    <div class="input-group mb-3 w-25">
        <button asp-controller="Ajax" asp-action="PersonId" type="button" id="button2" class="btn btn-secondary">Details</button>
        <button asp-controller="Ajax" asp-action="PersonId" type="button" id="button3" class="btn btn-danger">Delete</button>
        <div class="col-sm-4">
            <input type="number" id="personId" class="form-control" placeholder="Insert Id" aria-label="Id" aria-describedby="basic-addon1">
        </div> 
    </div>
</form>


<div id="div1"></div>

